<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "container">
		<div class = "jumbotron jumbotron-fluid">
            <h1 class="display-4">GoldenRetriever</h1>
            <p class="lead">The GoldenRetriever demo allows you to query an FAQ and a T&C knowledge base.</p>
            <p><a href = "https://github.com/nickyeolk/info_retrieve">Repo here!</a></p>
		</div>
		<div class="container">
            <form action = "/predict" method = "GET">
                <label for="exampleFormControlSelect1">Knowledge Base</label>
                <select name="kbname" class="form-control" id="exampleFormControlSelect1">
                    <!-- <option value="nrf">NRF Fund Guide</option> -->
                    <option value="pdpa">PDPA</option>
                    <option value="resale_tnc">HDB Resale</option>
                    <option value="aiap">AIAP</option>
                </select><br>
                <label for="exampleFormControlSelect2">Number of Results</label>
                <select name = "top_k" class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option selected="selected">3</option>
                </select><br>
                <label for="exampleFormControlTextarea1">Enter Query</label>
			    <textarea name = "question" class="form-control" id="exampleFormControlTextarea1" rows="2">Can an organization retain the physical NRIC?</textarea><br>
			    <input type = "submit" class="btn btn-info"/>
			</form>
			<br>
            {% if prediction %}
            <h3><text>Question: </text>{{question}}</h3>
            {% for result in prediction %}
                <h3><p><text>Answer {{loop.index}}:</text></p></h3>
                <table class="table table-hover">
                {% set lines = result.split('\n') %}
                {% for line in lines %}
                    <tr>
                        {% set tabledatas = line.split(';')%}
                        {% for tabledata in tabledatas %}
                        {% if tabledatas|length > 1 %}
                            <td>{{tabledata}}</td>
                        {% else %}
                            <td colspan=42>{{tabledata}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
                
                <br>
            {% endfor %}
            <!-- <h2>Confidence: {{rating}}</h2><br> -->
			{% endif %}
		</div>
	</div>
</body>
</html>